<section id="about">
    <div class="container">
        <h2><strong>Sobre mí</strong></h2>
        <p-divider></p-divider>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">

                <picture>
                    <img src="assets/images/perfil.jpg" alt="photo de profil" class="img-fluid">
                </picture>

            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Desarrollador de aplicaciones multiplataforma</h3>
                <p class="font-italic">

                    Mi nombre es Daniel, estudié el grado superior de Desarrollo de Aplicaciones Multiplataforma en el
                    I.E.S. Brianda de Mendoza. Me considero una persona proactiva, con actitud positiva y ganas de
                    mejorar en el ámbito laboral. Soy una persona muy constante y perfeccionista, trato de analizar
                    todas las formas posibles de resolver un problema para intentar encontrar la solución más óptima y
                    eficiente.

                    Con ganas e ilusión de dejar atrás la informática y empezar a trabajar en mi sector para adquirir
                    experiencia y aprender metodologías de trabajo.

                </p>
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <ul>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Guadalajara, España</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:dpatrongomez@gmail.com">
                                        dpatrongomez@gmail.com</a></strong>
                            </li>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> {{edad}} </strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Técnico Superior en Desarrollo de
                                    Aplicaciones Multiplataforma</strong>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>