<section id="about">
    <div class="container">
        <h2><strong>Sobre mí</strong></h2>
        <p-divider></p-divider>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">

                <picture>
                    <img src="assets/images/perfil.jpg" alt="photo de profil" class="img-fluid">
                </picture>

            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Desarrollador de aplicaciones multiplataforma</h3>
                <p class="font-italic">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ipsam? Libero asperiores nostrum quod similique! Sequi, blanditiis officiis vero odio necessitatibus alias incidunt nemo quis dolore, nulla asperiores, cum laudantium?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam autem perferendis quis pariatur labore, at vel, quas error deserunt hic nemo ipsa consequuntur, neque ab in voluptas. Eum, dolor delectus.
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, suscipit magnam aut cupiditate similique repellendus repellat officia soluta quae quam quidem ea et eveniet provident sed odio deleniti aperiam accusamus?
                </p>
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <ul>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Guadalajara, España</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:dpatrongomez@gmail.com"> dpatrongomez@gmail.com</a></strong>
                            </li>
                             <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> {{edad}} </strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</strong>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>