<section id="contact">
    <div class="container">
        <h2><strong>Contacto</strong></h2>
        <p-divider></p-divider>
        <p class="text-center">
            <a style="color:black" href="https://github.com/dpatrongomez" target="_blank"><i class="fab fa-github fa-4x"
                    aria-hidden="true" style="padding:10px"></i></a>
            <a style="color:black" href="mailto:dpatrongomez@gmail.com" target="_blank"><i class="fas fa-envelope fa-4x"
                    aria-hidden="true" style="padding:10px"></i></a>
            <a style="color:black" href="https://t.me/dpatrongomez" target="_blank"><i class="fab fa-telegram fa-4x"
                    aria-hidden="true" style="padding:10px"></i></a>
            <a style="color:black" href="https://www.instagram.com/dpatrongomez/" target="_blank"><i
                    class="fab fa-instagram fa-4x" aria-hidden="true" style="padding:10px"></i></a>
            <a style="color:black" href="https://www.facebook.com/dpatrongomez" target="_blank"><i
                    class="fab fa-facebook fa-4x" aria-hidden="true" style="padding:10px"></i></a>
        </p>
    </div>
</section>